h1
{ 
    font-family: fantasy;

}

td, th
{
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

img
{
    height: 100px;
    width: 100px;
}

body
{
    background-color: cornflowerblue;
}

a
{
    color:chartreuse;
}

ul
{
    list-style-image: url("../pics/pokeball_PNG24.png");
    margin: 
}

p
{

    font-size: 20px;
}

/* all pokemon images used from pokestop.io and https://bulbapedia.bulbagarden.net/  */
#StudioArt
{
    background: cornflowerblue url("../pics/smeargle.png") no-repeat center;
    
}

#Economics
{
    background: cornflowerblue url("../pics/persian-256x256.png") no-repeat center;
}

#Politics
{
    background: cornflowerblue url("../pics/garbodor-256x256.png") no-repeat center;
}

#ComputerScience
{
    background: cornflowerblue url("../pics/porygon-256x256.png") no-repeat center;
}

#Mathematics
{
    background: cornflowerblue url("../pics/alakazam-256x256.png") no-repeat center;
}