h1
{ 
    font-family: fantasy;

}

td, th
{
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

img
{
    height: 100px;
    width: 100px;
}

body
{
    background-color: cornflowerblue;
}

a
{
    color:chartreuse;
}

ul
{
    list-style-image: url("../pics/pokeball_PNG24.png");
    margin: 
}
p
{

    font-size: 20px;
}
